name: CI

on:
  pull_request:
  push:
    branches: [main, master]
  workflow_dispatch:

env:
  RUSTFLAGS: "-C debuginfo=0 -D warnings"
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

jobs:
  tests:
    name: Tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        include:
          - os: macos-latest
            MACOS: true
          - os: windows-latest
          - os: ubuntu-latest
    env:
      RUST_BACKTRACE: full
    steps:
      - uses: actions/checkout@v6

      - name: Install Linux deps alsa and udev
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev
        if: runner.os == 'linux'

      - name: install stable toolchain
        id: install_toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt clippy

      - name: rustfmt & clippy
        run: |
          cargo clippy --workspace
          cargo fmt --all -- --check
        if: matrix.os == 'ubuntu-latest'

      - name: run tests
        run: cargo test --workspace --all-targets --all-features
        env:
          MACOS: ${{ matrix.MACOS }} # Used by some tests
